.head{
    width: 100%;
    box-shadow: 0px 2px rgb(144, 143, 146);
    background-image: url(../img/headerBG.jpg);
    z-index: 2;
    position: fixed;
    top: 0;
}
.foot{
    width: 100%;
    margin-top: 8px;
    box-shadow: 5px 5px 5px 5px rgb(143, 143, 145);
    background-image: url(../img/footer-BG.jpg);
    height: 130px;
    padding: 16px;
}
.foot-container{
    margin: 0px 150px 0px 150px;
}
.share-group{
    display: flex;
    justify-content: center;
    padding: 0px 16px 0px 16px;
}
.share-group a{
    text-decoration: none;
    margin: 8px;
}
.share-group img{
    height: 40px;
    width: 40px;
    margin-right: 16px;
}
.head-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    justify-content: stretch;
}
#brand{
    position: relative;
    left: -150%;
    height: 50px;
    width: 50px;
    margin-right: 24px;
}
#search-bar {
    position: relative;
    width: 0%;
    height: 35px;
    transition: width 0.4s ease-in-out;
    border: 0px;
    left: -10%;
    padding-left: 5px;
    margin-left: 10px;
    border-left: 2px solid var(--stick-color);
  }
#icon-search{
    position: relative;
    left: -10%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: var(--bg-color);
}
.greeting{
    position: relative;
    left: -10%;
    margin: 0px 16px;
    padding: 0px 16px 0px 30px;
    border-left: 2px solid #dee2e4;
    font-weight: 600;
    color:rgb(155, 148, 148);
}

/* btn-group */
.head-btngroup{
  position: relative;
  right: -75%;
  display: flex;
  flex-direction: row;
}
.btn{
    padding: 8px 16px;
    margin: 0px 8px;
    cursor: pointer;
}
.btn-login{
    border: 1px solid var(--black-color);
    color: var(--text-color);
    font-weight: 600;
}
.btn-login a{
    text-decoration: none;
}
.btn-register{
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: 600;
}
.btn-login:hover{
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: 600;
}
.btn-register:hover{
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--white-color);
}
.register-drop{
    height: 0;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9);
    overflow: hidden; 
    transition: 0.3s;
}
.close-btn{
    position: absolute;
    color: white;
    top: -20px;
    right: 150px;
    text-decoration: none;
    font-size: 60px;
    margin-left: 50px;
    overflow: hidden;
    transition: 0.3s;
}
.drop-content{
    position: relative;
    top: 25%; 
    width: 100%; 
    margin-top: 30px;
}
.drop-content-container{
    margin: 0px 150px;
    padding: 16px;
    display: flex;
    justify-content: center;
}
.greeting-drop{
    color: white;
    display: flex;
    justify-content: center;
}
.nav-bar{
    position: relative;
    left: -10%;
    border-left: 2px solid #dee2e4;
    padding: 0px 8px 0px 8px;
}
.nav-bar a{
    text-decoration: none;
    color: var(--black-color);
}
.btn-ranking{
    padding: 8px;
    margin: 0px 8px;
    font-size: 16px;
    font-weight: 600;
}
.btn-aboutus img, .btn-ranking img{
    height: 16px;
    width: 16px;
}
.btn-aboutus{
    padding: 8px;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}
.btn-aboutus:hover, .btn-ranking:hover{
    border-bottom: 3px solid black;
}
/* icon */
.icon{
    display: block;
    font-family: icon;
    font-size: 25px;
    font-style: normal;
}
@font-face{
    font-family: icon;
    src: url(../fonts/icomoon.ttf) format("truetype");
}
.icon-heart::before{
    content: '\e9da';
}
.icon-comment::before{
    content:'\e96e'
}
.icon-donate::before{
    content: '\e99f';
}
.icon-share::before{
    content: '\ea82';
}
.icon-facebook::before{
    content:'\ea91';
    color: rgb(24, 24, 158);
}
.icon-youtube::before{
    content: '\ea9d';
    color: red;
}
.icon-telegram::before{
    content: '\ea95';
}
.icon-drive::before{
    content: '\ea8f';
}
.icon-insta::before{
    content: '\ea92';
}
#count-comment{
    text-align: center;
}