.main-post{
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}
.reactions{
    width: 100px;
    margin: 0px 16px;
    font-family: icon;
}

/* icon */
.icon{
    display: inline-block;
    font-style: normal;
    font-family: icon;
}
@font-face{
    font-family: icon;
    src: url('../fonts/icomoon.ttf') format('truetype');
}